.container {
  padding: 0px 6px 12px 6px;
  display: flex;
  flex-direction: column;
  width: 90%;
  
  .daynames-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .day-name {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      font-weight: 500;
      font-size: 12px;
      color: rgb(55, 55, 55);
    } 
  }
  
  .days-container {
    margin-top : 8px;
    display: grid;
    grid-template-columns: repeat(7, minmax(12px, 1fr));
  }
}